@charset "UTF-8";
@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600";

	html, body, div, span, h1, h2, h3, p, a, code, img, strong, sub, center, form, table, tbody, thead, tr, th, td, article, header, nav, section{
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, header, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}


	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}


/* Type (FONTES E ETC) */

	body, select, textarea {
		color: #9a9a9a;
		font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
		font-size: 14pt;
		font-weight: 400;
		line-height: 1.65;
	}
		

	a {
		color: #6cc091;
		text-decoration: underline;
	}

	p {
		margin: 0 0 2em 0;
	}

	h1, h2, h3{
		color: #555;
		font-weight: 400;
		line-height: 1.5;
		margin: 0 0 1em 0;

	}
	
	h2 {
		font-size: 1.85em;
		font-weight: 300;
	}

	h3 {
		font-size: 1.75em;
	}


	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

	.inner {
		max-width: 75em;
		margin: 0 auto;
	}


/* Section/Article */

	section.wrapper, article.wrapper {
		padding: 6em 0;
	}

		
/* Flex */

	.flex {
		display: -ms-flexbox;
		-ms-flex-wrap: wrap;
		-ms-flex-pack: justify;
		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		width: 100%;
	}
	

/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}


/* Image */

	.image {
		border-radius: 0;
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image img {
			border-radius: 0;
			display: block;
		}

		.image.left, .image.right {
			max-width: 40%;
		}

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.round img {
			border-radius: 100%;
		}

		.image.left {
			float: left;
			padding: 0 1.5em 1em 0;
			top: 0.25em;
		}

		.image.right {
			float: right;
			padding: 0 0 1em 1.5em;
			top: 0.25em;
		}


/* Table */

	.table-wrapper {
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
	}

	table {
		margin: 0 0 2em 0;
		width: 100%;
	}

		table tbody tr {
			border: solid 2px #dbdbdb;
			border-left: 2px;
			border-right: 2px;
		}

			table tbody tr:nth-child(2n + 1) {
				background-color: rgba(144, 144, 144, 0.075);
			}

		table td {
			padding: 0.75em 0.75em;
		}

		table th {
			color: #555;
			font-size: 0.9em;
			font-weight: 600;
			padding: 0 0.75em 0.75em 0.75em;
			text-align: left;
		}
		
/* Button */

	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: transparent;
		box-shadow: inset 0 0 0 3px #6cc091;
		color: #6cc091 !important;
		border-radius: 30px;
		border: 0;
		cursor: pointer;
		display: inline-block;
		font-size: .75em;
		font-weight: 400;
		height: 3.75em;
		line-height: 3.85em;
		letter-spacing: 2px;
		padding: 0 4em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
	}
	
	.button:hover {
		background-color: rgba(108, 192, 145, 0.15);
	}


/* Header */

	.subpage {
		padding-top: 44px;
	}

		.subpage #header {
			background: #6cc091;
			top: 0;
			height: 44px;
			line-height: 44px;
			position: fixed;
		}

	#header {
		color: #fff;
		cursor: default;
		height: 3.25em;
		left: 0;
		line-height: 3.25em;
		position: absolute;
		text-align: right;
		top: 2em;
		width: 100%;
		z-index: 10001;
	}

		#header .inner {
			margin: 0 auto;
			position: relative;
		}

		#header .logo {
			color: #ffffff;
			display: inline-block;
			font-weight: 400;
			height: inherit;
			left: 0;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
			font-size: 1em;
		}

			#header .logo strong {
				color: #ffffff;
				font-weight: 600;
			}

		#header a {
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			display: inline-block;
			padding: 0 0.75em;
			color: inherit;
			text-decoration: none;
			font-size: 1em;
		}

			#header a.navPanelToggle {
				display: none;
				text-decoration: none;
				height: 4em;
				width: 4em;
				z-index: 10003;
			}

		
		
/* Banner */

	#banner {
		padding: 8em 0 9em 0;
		background-image: url(../../images/banner.jpg);
		background-size: cover;
		background-position: bottom;
		background-attachment: fixed;
		background-repeat: no-repeat;
		text-align: center;
		position: relative;
	}

		#banner:before {
			content: '';
			background: rgba(75, 75, 93, 0.85);
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}

		#banner .inner {
			border-top: 2px solid rgba(255, 255, 255, 0.2);
			position: relative;
			z-index: 10005;
			padding-top: 8em;
		}

		#banner h1 {
			font-size: 3.5em;
			font-weight: 400;
			color: #fff;
			line-height: 1em;
			margin: 0 0 1em 0;
			padding: 0;
		}

		#banner h3 {
			font-weight: 400;
			color: #fff;
			margin: 0;
			font-size: 1.5em;
		}

		#banner .icon {
			color: #6cc091;
			font-size: 2em;
		}


		#banner .flex {
			-ms-flex-pack: center;
			-moz-justify-content: center;
			-webkit-justify-content: center;
			-ms-justify-content: center;
			justify-content: center;
			text-align: center;
			margin: 0 auto 4em auto;
		}

			#banner .flex div {
				border-right: 2px solid rgba(255, 255, 255, 0.2);
				padding: 0 8em;
			}

				#banner .flex div:last-child {
					border: none;
					padding-right: 0;
				}

				#banner .flex div:first-child {
					padding-left: 0;
				}
